<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "https://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Ryven</vendor>
  <vendor_url>https://github.com/youruser/Ryven</vendor_url>

  <action id="org.ryven.control.read">
    <description>Read system state via ryven-control</description>
    <message>Authentication required to read system state</message>
    <defaults>
      <allow_active>yes</allow_active>
      <allow_inactive>no</allow_inactive>
      <allow_any>no</allow_any>
    </defaults>
  </action>

  <action id="org.ryven.control.toggle">
    <description>Change runtime settings (scheduler, VRR, theme, audio, fan)</description>
    <message>Authentication required to change system settings</message>
    <defaults>
      <allow_active>yes</allow_active>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_any>no</allow_any>
    </defaults>
  </action>

  <action id="org.ryven.control.system">
    <description>Modify system state (updates, kargs, firewall, services, MOK)</description>
    <message>Authentication required for system modification</message>
    <defaults>
      <allow_active>auth_admin_keep</allow_active>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_any>no</allow_any>
    </defaults>
  </action>
</policyconfig>
