[Desktop Entry]
Type=Application
Name=Zen Browser
GenericName=Web Browser
Comment=Zen Browser (latest stable, upstream tarball)
Exec=zen %u
Icon=zen-browser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=zen
